:root {
  --my-grey: #3f3a41;
  --off-white: #e7e5d2;
}

/* html, body {
  height: 100%;
} */

html {
  display: table;
  margin: auto;
  background-color: var(--my-grey);
}

body {
  display: table-cell;
  vertical-align: middle;
  background: --my-grey;;
  font-family: -apple-system, BlinkMacSystemFont, 'Times', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: var(--my-grey);
  display: flex;
  flex-flow: column;
  width: 98vw;
  height: 96vh;
}